<div class="user-card-content" contenteditable="false"
     @onclick="OnClick">
            <div class="symbol">
                <div class="twa-5x @User.Avatar"></div>
            </div>
                    
            <p class="name">@User.Name</p>

    <div class="user-card-details">
        <progress class="xp-bar" max="@User.Goal" value="@User.XP">
            <progressbar value="@User.XP"/>
        </progress>
        <p class="subtitle">@User.XP/@User.Goal</p>
    </div>
</div>

@code {
    [Parameter] public User User { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
}